model.dtd



<!ENTITY FACULTY "UM FERI">

<!ELEMENT studenti (student*)>
<!ATTLIST studenti fakulteta CDATA #IMPLIED>

<!ELEMENT student (ime, priimek, povprecje, predmetRef*)>
<!ATTLIST student
        id ID #REQUIRED
        letnik (1|2|3) #REQUIRED
        stopnja (VS|MAG) #REQUIRED
        >

<!ELEMENT ime (#PCDATA)>
<!ELEMENT priimek (#PCDATA)>
<!ELEMENT povprecje (#PCDATA)>
<!ELEMENT predmetRef EMPTY>
<!ATTLIST predmetRef ref CDATA #REQUIRED>

<!ELEMENT predmeti (predmet*)>
<!ELEMENT predmet (naziv, ECTS, nosilec)>
<!ATTLIST predmet
        id ID #REQUIRED
        obvezen (da|ne) #REQUIRED
        stopnja (VS|MAG) #IMPLIED
        >

<!ELEMENT naziv (#PCDATA)>
<!ELEMENT ECTS (#PCDATA)>
<!ELEMENT nosilec (#PCDATA)>
